<!DOCTYPE html>
<html>
  <head>
    <title>ProFTPD Downloads</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <h1><a href="http://proftpd.org" title="ProFTPD Website">ProFTPD</a> Downloads</h1>
    <div id="downloads">
      <% downloads.each_with_index do |download,i| %>
        <div class="download evenodd-<%= i%2 %>">
          <h2><%= download[:version] %></h2>
          <p><%= download[:mtime] %></p>
          <div class="gzversion">
            <a class="gzlink" href="<%= download[:gzlink] %>" title="ProFTPD <%= download[:version] %> GZIP">GZ</a>
            <div class="gzsig sig">
              <a href="<%= download[:gzsig] %>" title="ProFTPD <%= download[:version] %> GZIP Signature">sig</a>
            </div>
            <div class="gzmd5 md5">
              <a href="<%= download[:gzmd5] %>" title="ProFTPD <%= download[:version] %> GZIP MD5 Checksum">md5</a>
            </div>
          </div>
          <% if download.has_key?(:bz2link) %>
            <div class="bz2version">
              <a class="bz2link" href="<%= download[:bz2link] %>" title="ProFTPD <%= download[:version] %> BZ2">BZ2</a>
              <div class="bz2sig sig">
                <a href="<%= download[:bz2sig] %>" title="ProFTPD <%= download[:version] %> BZ2 Signature">sig</a>
              </div>
              <div class="bz2md5 md5">
                <a href="<%= download[:bz2md5] %>" title="ProFTPD <%= download[:version] %> BZ2 MD5 Checksum">md5</a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
